<div class="sidebar text-white p-3">
  <div class="sidebar-title mb-4">
    <span>Workspace</span>
  </div>
  <ul class="nav flex-column gap-2">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active-link">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    
    <li class="nav-item" *ngIf="role === 'HOD'">
      <a class="nav-link text-white" routerLink="/staff" routerLinkActive="active-link" >
        <i class="bi bi-people me-2"></i> Staff Management
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/leave" routerLinkActive="active-link">
        <i class="bi bi-calendar2-check me-2"></i> Leave Management
      </a>
    </li>
  </ul>
</div>
