.register-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    135deg,
    #e0f7fa 0%,
    #e8f5e9 35%,
    #f3e5f5 70%,
    #ffffff 100%
  );
}

.logo-circle {
  width: 70px;
  height: 70px;
  background: #e7f0ff;
  border-radius: 50%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-circle i {
  font-size: 32px;
  color: #0d6efd;
}

.card {
  border-radius: 15px;
}

.form-control,
.form-select {]
  height: 48px;
}

.btn-primary {
  height: 48px;
  font-weight: 600;
}

small.text-danger {
  display: block;
  margin-top: 4px;
}